<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Create new account</h1></br>

        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}

        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </br>
            
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>

    </div>
</div>