.shopping-cart {
  background: rgb(58, 58, 58);
  /* border-radius: 10px; */

  z-index: 5;
  left: 78vw;

  position: fixed;
  box-sizing: border-box;
  height: 94%;
  
  top: 0;
  bottom: auto;
  left: auto;
  right: 0px;

  width: 0;
  padding: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.shopping-cart.showCart {
  width: 20vw;
  padding: 20px;
  box-shadow: 0 0 15px 0 rgb(43, 43, 43);
}

.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  padding-top: 13px;
  color: rgb(190, 190, 190);
  font-size: 17px;
  text-align: right;
}

.shopping-cart h1 {
  color: rgb(190, 190, 190);
  text-align: center;
  padding-top: 50px;
}

.shopping-cart-header .fa-shopping-cart {
  color: rgb(190, 190, 190);
  font-size: 25px;
  padding: 5px;
  margin-left: 60px;
}

.shopping-cart-header .badge {
  font-size: 13px;
}


.fa-angle-double-right {
  background: rgb(75, 75, 75);
  border-radius: 10px;
  z-index: 10;
  cursor: pointer;

  position: absolute;
  width: 45px;
  height: 40px;
  text-align: center;

  /* top: 60px;
  bottom: auto;
  left: auto;
  right: 280px; */
  padding: 0;
  transition: 0.5s;

  color: rgb(190, 190, 190);
  font-size: 40px !important;
  box-shadow: 3px 3px 15px 2px rgb(48, 48, 48);
}


.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #6394F8;
}

.button {
  background: rgb(255, 119, 119);
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}