*, *:before, *:after {
  box-sizing: border-box;
}

.shopping-cart-items li {
    margin-bottom: 18px;
    }

.shopping-cart-items img {
    float: left;
    margin-right: 12px;
    width: 70px;
    height:70px;
}

.item-name {
    display: block;
    padding-top: 0px;
    font-size: 14px;
}

.item-price {
    color: #6394F8;
    margin-right: 8px;
}

.item-quantity {
    color: rgb(149, 153, 163);
}

ul li {
    font: 14px/22px "Lato", Arial, sans-serif;
    display: inline;
    padding-left: 20px;
    padding-top:0;
}

ul li a {
        color: #777777;
        text-decoration: none;
}

