#checkout-form {
    margin: 10px 0;
}

#checkout-form {
    font-family: Source Sans Pro,sans-serif;
    font-weight: 300;
    color: rgb(146, 146, 146);
    margin: 10px 0;
}

#order-shopping-cart .title {
  margin: 30px;
}

.form {
  font-size: 13px;
}

.form-group.row {
  margin: 30px 0;
}
.form-check-label {
  margin: 10px 0;
}
input {
    margin: 0 5px 10px;
    border: 1px solid transparent;
    -webkit-transition: border .3s;
    transition: border .3s;
}

#submitButton {
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(143, 98, 56);
    color: white;
    font-size: 20px;
    box-shadow: 5px 5px 10px 5px rgb(10, 10, 10);
}

#submitButton {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#submitButton {
    line-height: normal;
}


legend {
    text-align: left;
    font-size: 20px !important;
}
.form-check {
    text-align: left;
}

.form-check-input{
    white-space: normal;
    margin-left: -30px !important;
}

#location-text-input {
  width: 250px;
}

.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 60px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }

.box .shopping-cart-items {
    margin-top: 50px !important;
}

.box .shopping-cart-items img {
    width: 100px;
    height:100px;
}

.box .item-name {
    display: block;
    padding-top: 0px;
    font-size: 18px;
}

.box .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.box .item-quantity {
    color: rgb(149, 153, 163);
}


.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

  .box .item span, .total-price {
      color: white !important;
  }
   
  .box .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .box .item {
    border-top:  1px solid rgba(170, 170, 170, 0.568);
    border-bottom:  1px solid rgba(170, 170, 170, 0.568);
  }


