.content-delivery {
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Quicksand', sans-serif!important;
}

.content-delivery h1 {
    margin-bottom: 20px;
}

.content-delivery h2 {
    margin-bottom: 20px;
}

.content-delivery p {
    font-size: 17.5px;
    padding-top: 10px;
}

.content-delivery blockquote {
    padding: 20px 20px;
}

.content-map {
    box-shadow: 1px 1px 5px 1px rgb(121, 121, 121);
    margin-top: 30px;
    margin-bottom: 70px;
}

@media screen and (max-width: 1024px) {
    .content-delivery {
        padding-top: 0;
    }
}