.product{
    display: flex;
    justify-content: flex-start;
    height: 90vh;
    position: relative;
    flex-wrap: wrap;
    background-color: #FFFAFA;
}

#sideBar_container {
    display: flex;
    height: 90vh;
    width: 238px;
    align-items: center;
    padding-bottom: 10vh;
    margin-left: 15vw;
    
}

#swiper_container{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-around;
    padding-left: 13vw;
    padding-bottom: 15vh;
    left: 30%;
}

.swiper-container {
    width: 35vw;
    height: 500px;
}


#swiperImg {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 50%;
    height: 450px;
    border-radius: 50px;
}