.content-shop {
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: relative;
  font-family: "Quicksand", sans-serif !important;
}

.thumbnail p {
  font-size: 20px;
  color: rgb(88, 88, 88);
  margin-bottom: 0;
  font-family: "Rajdhani", sans-serif !important;
}

.thumbnail a > img {
  height: 250px;
}

.thumbnail button {
  font-size: 15px;
  background-color: rgb(255, 136, 128) !important;
  border: rgb(255, 136, 128) !important;
  font-family: "Rajdhani", sans-serif;
}

.jumbotron {
  background-color: transparent !important;
}

.jumbotron h1 {
  text-align: center;
  color: rgb(88, 88, 88);
}

.jumbotron h3 {
  text-align: center;
  color: rgb(160, 160, 160);
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

@media screen and (max-width: 768px) {
  .thumbnail a > img {
    height: auto;
  }
}
