.product{
    display: flex;
    justify-content: flex-start;
    height: 90vh;
    position: relative;
    flex-wrap: wrap;
    background-color: #FFFAFA;
}

#sideBar_container {
    display: flex;
    height: 90vh;
    width: 238px;
    align-items: center;
    padding-bottom: 10vh;
    margin-left: 15vw;
    
}

#swiper_container{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-around;
    padding-left: 13vw;
    padding-bottom: 15vh;
    left: 30%;
}

.swiper-container {
    width: 35vw;
    height: 50vh;
    z-index:0;
}


#swiperImg {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 50%;
    height: 450px;
    border-radius: 50px;
}

.product_description{
    overflow: auto;
    height:100%;
    padding: 30px 30px;
}

.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__overlay___2QFmC-sass {

  background: rgba(211,211,211, 0.75)!important;

}

.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__drawer-right___h_uSC-sass {
  top: 25vh !important;
  right: 0;
  min-width: 400px !important;
  width: 45vh !important;
  height: 50% !important; 
}

/* .css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__drawer-bottom___2f9G_-sass {
  bottom: 0;
  left: 35vw !important;
  right: 25vw !important;
  width: 45% !important;
  height: 300px; } */